{
    "extends": "airbnb/base",
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4, {"SwitchCase": 1}],
        "max-len": ["error", 80],
        "no-use-before-define": ["error", {"classes": true, "functions": false}],
        "object-curly-spacing": ["error", "never"],
        "padded-blocks": ["off"],
        "quotes": ["error", "backtick", "avoid-escape"],
        "spaced-comment": ["error", "always", {
            "line": {
                "exceptions": ["/"]
            },
            "block": {
                "markers": ["!"],
                "exceptions": ["*"]
            }
        }]
    }
}
